{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Django, HTML, CSS, Javascript, Responsive Design">
    <meta name="author" content="Abhijit Das">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhijit's Portfolio</title>
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}/static/helloworld.png" />
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
    <script src="{{ STATIC_URL }}/static/homepage.js"></script>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="/"><img src="{{ STATIC_URL }}/static/helloworld.png" style=" border-radius: 20%; height:40px; width:80px;"></a>
        </div>
        <div class="header-right">
            <h2><a href="project">My Projects</a></h2>
            <h2><a href="contact-me">Contact Me</a></h2>
            <h2><a href="#about-me">About Me</a></h2>
        </div>
    </header>
    <div class="center">
        <h1 style="margin: 30px; font-style: italic;">
            <span class="python-color">PYTHON</span>
            <span class="web-color">WEB</span>
            <span class="developer-color">DEVELOPER</span>
        </h1>
        <h1>Welcome!</h1>
        <h3><strong>I am Abhijit Das and you are currently visiting my portfolio!!</strong></h3>
        <div class="button-position">
            <a href="project" target="_blank"><button class="btn">My Projects</button></a>
            <a href="contact-me" target="_blank"><button class="btn">Contact Me</button></a>
            <button class="btn btn-with-icon" onclick="downloadResume()">Download Resume
                <div class="btn-img">
                    <img src="{{ STATIC_URL }}/static/cloud.png" style="height:25px; width:25px;">
                </div>
            </button>
        </div>
    </div>
    <div class="section">
        <div class="centered-text">
            <h1>My Skillset</h1>
        </div>
        <div class="container">
            <div class="box">
                <h1>&rarr;Python&larr;</h1>
                <h3><strong>Advance Python</strong></h3>
                <h3><strong>Numpy</strong></h3>
                <h3><strong>Pandas</strong></h3>
                <h3><strong>Tensorflow</strong></h3>
                <h3><strong>Keras</strong></h3>
                <h3><strong>Discord.py</strong></h3>
                <h3><strong>OpenCV</strong></h3>
                <h3><strong>PIL</strong></h3>
            </div>
            <br>
            <div class="box">
                <h1>&rarr;Web Development&larr;</h1>
                <h3><strong>Django</strong></h3>
                <h3><strong>HTML</strong></h3>
                <h3><strong>CSS</strong></h3>
                <!--<h3><strong>Javascript</strong></h3>-->
                <h3><strong>Bootsstrap</strong></h3>
                <h3><strong>REST API</strong></h3>
                <h3><strong>Responsive Web Designs</strong></h3>
            </div>
            <br>
            <div class="box">
                <h1>&rarr;Others&larr;</h1>
                <h3><strong>DSA</strong></h3>
                <h3><strong>Java</strong></h3>
                <h3><strong>MySQL</strong></h3>
                <h3><strong>PostgreSQL</strong></h3>
                <h3><strong>Machine Learning</strong></h3>
                <h3><strong>Deep Learning</strong></h3>
                <!--<h3><strong>Microsoft Azure</strong></h3>-->
                <h3><strong>AI</strong></h3>
            </div>
        </div>
    </div>
    <div class="about-me" id="about-me">
        <div class="mid-content">
            <h1>About Me</h1>
        </div>
        <div class="mid-content">
            <p> Hello, I am Abhijit Das, a highly motivated and detail-oriented Python Developer with a strong foundation in Web Development, Machine Learning,
                <br> and Deep Learning. I like to create softwares with Python, for the web I mostly use Django. You can check my work at the project section.
                <br> I am always learning something, like a new technology or new programming language. So let's collaborate and make our innovation ideas into reality together!
            </p>
        </div>
        <div class="profile-box">
            <img src="{{ STATIC_URL }}/static/me.jpeg" alt="Avatar" style="border-radius: 50%; max-height: 150px; max-width: 150px;">
            <h3>Abhijit Das</h3>
            <div class="info-position">
                <img src="{{ STATIC_URL }}/static/call.jpg" alt="Phone Number" style="border-radius: 20%; max-height: 30px; max-width: 30px;">
                <p>+91-9007366471</p>
            </div>
            <div class="info-position">
                <img src="{{ STATIC_URL }}/static/gmail.png" alt="Gmail ID" style="border-radius: 20%; max-height: 30px; max-width: 30px;">
                <p>dasabhijit0712@gmail.com</p>
            </div>
            <div>
                <img src="{{ STATIC_URL }}/static/GitHub-Mark.png" alt="GitHub" style="border-radius: 70%; max-height: 30px; max-width: 30px;">
                <a href="https://github.com/Dark7121?tab=repositories" target="_blank" class="link-inbox">GitHub</a>
                <img src="{{ STATIC_URL }}/static/li.png" alt="LinkedIn" style="border-radius: 20%; max-height: 30px; max-width: 30px;">
                <a href="https://www.linkedin.com/in/abhijit-das-530870194/" target="_blank" class="link-inbox">LinkedIn</a>
                <img src="{{ STATIC_URL }}/static/l.png" alt="LeetCode" style="border-radius: 20%; max-height: 30px; max-width: 30px;">
                <a href="https://leetcode.com/abhijitdas7121/" target="_blank" class="link-inbox">LeetCode</a>
                <img src="{{ STATIC_URL }}/static/ha.png" alt="HackerRank" style="border-radius: 20%; max-height: 30px; max-width: 30px;">
                <a href="https://www.hackerrank.com/profile/abhijitdas7121" target="_blank" class="link-inbox">HackerRank</a>
                <footer class="bottom-down">
                    <p>Copyright &copy; 2023 Abhijit Das. All Rights Reserved.</p>
                </footer> 
            </div>
        </div>
    </div>
</body>
</html>
