{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Django, HTML, CSS, Javascript, Responsive Design">
    <meta name="author" content="Abhijit Das">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restricted Device</title>
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}/static/helloworld.png" />
    <link rel="stylesheet" type="text/css" href="{% static 'nopage.css' %}">
    <script src="{{ STATIC_URL }}/static/nopage.js"></script>
</head>
<body>
</body>
</html>